body {
    padding: 0 !important;
    margin: 0 !important;
   
  }
  
  .padd{
    padding-top:2rem;
    padding-right:3rem
  }
  body > div:nth-child(1) > div > img
   {
     margin-top: -8rem;   
     float: right;
}
  .header1{
      display: inline-flexbox;
  }

 .title{
    font-size: 30px;
   color: #808080
 }
     
h2{
    color: black;
    margin-top: 1em;
    margin-left:2.6em;
    font-size: 40px;
    font-weight: bold;
}
      

  
.parent-div {
    display: flex;
  }
  
  .first-div {
    padding-left: 6rem;
  
    height: 100vh;
    
   }
   
   .second-div {
     
   height: 100vh;
   margin-left:-20rem;
   margin-top:0rem
   }

   .btn {
    color: black;
    font-weight: bold;
    font-size: larger;
    margin-top: -0.4em;
    padding-top: -0.4em;
    padding-bottom: 0.4em;
    margin-bottom: -0.4em;
    text-align: left;
  }
 

h3{
    color: #f24637;
    margin-top: 2em;
    margin-left:1em;
    font-size: 35px;
    font-weight: bold;   
}
p{
    margin-top: 2em;
    margin-left:2em;
    font-weight: bolder;
    color: #696969

}




.card-body{
    margin-left:3em;
    margin-top: -1.7em;
    font-weight: bolder;
    
}

a{
  
    color: #f24637;
    
}

/* 
  #card{
      margin: -1.5em;
      padh2ding:-3em
  }
  .card-header{
    padding:-2em
  } */
  .all-divs{
      margin-top: 3em;
      margin-left:0.4em;
      background-color: None;
  }

  .card-header{
      margin-top: 0em;
      padding-top: 0em;
      padding-bottom:0em;
      margin-bottom: 0em;
      background-color: white
  }/* background-color: None; */
  h5{
    margin-top: 0em;
    padding-top: -0.8em;
    padding-bottom: 0.8em;
    margin-bottom: -0.8em;
  }
  .sub-div{
    margin-left: 2rem;
  }


  .sub-title{
      font-size: 18px;
     
      color:#808080;
      font-weight: bold;
  }

  @media screen and (max-width: 500px) {
 
      
    .second-div {
      height: 100vh;
      margin-top:-24rem ;
      margin-left:-0.6rem
      }

      body > div.container-fluid > div > div.first-div.col-md > div > img  {
        margin-top: -20rem;   
        width:100%;
       margin-left:-3rem
   }
   h2{
    color: black;
    margin-top: 1em;
    margin-left:1em;
    font-size: 40px;
    font-weight: bold;
}

.first-div {
  padding-top: 22em;
 
  height: 100vh;
 }
 body > div:nth-child(1) > div > img

{
  margin-top: -10rem;
  margin-right:-2.8rem;
  
}
h2{
  color: black;
  margin-top: 1em;
  margin-left:2em;
  font-size: 28px;
  font-weight: bold;
}
  }